certifi==2020.4.5.1
cycler==0.10.0
fastcache==1.1.0
kiwisolver==1.1.0
matplotlib==3.2.1
mpmath==1.1.0
numpy==1.18.4
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
six==1.15.0
sympy==1.6
tornado==6.0.4
