certifi==2020.4.5.1
cycler==0.10.0
fastcache==1.1.0
gmpy2==2.1.0b1
kiwisolver==1.2.0
matplotlib==3.2.1
mpmath==1.1.0
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1588605105042/work
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1590335526477/work
tornado==6.0.4
