.red {
    color: red;
}
.bolditalic {
    font-weight: bold;
    font-style: italic;
}
.bold {
    font-weight: bold;
    font-style: normal;
}
.italic {
    font-style: italic;
}
.math {
    text-align: left;
}
.eqno {
    float: right;
}
